.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
  box-sizing: border-box;      
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  border-bottom: 1px solid #e5e5e5;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}


.navbar a {
  white-space: nowrap;
}
