.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
  box-sizing: border-box;
  padding: 16px 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f5f5f5d9;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0,0,0,0.1);

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}


.navbar a {
  white-space: nowrap;
}
