.container {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  background: #f5f1f0;
  padding: 40px;
  max-width: 1100px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.container h1 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
}

.form fieldset {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.form legend {
  background: black;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: .5px;
}
.form .general {
  height: 145px;
}
.form textarea {
  height: 70px;
}

.form input:focus,
select:focus, textarea:focus {
  outline: none;
  border: 2px solid rgb(255, 179, 155);
  box-shadow: 0 0 4px rgba(255, 165, 0, 0.6);

}

.form .country {
  grid-column: 1 / 3;
  width: 60%;
  margin: 0 auto;
  display: block;
}

.form .submit {
  grid-column: 1 / 3;
  padding: 14px;
  font-size: 18px;
  font-weight: 700;
  background: rgb(255, 179, 155);
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

.reviewRow {
  display: flex;
  gap: 20px;
  align-items: center;
}

.reviewRow input,
.reviewRow select {
  flex: 1;
}

.countryWrapper {
  grid-column: 1 / 3;
  text-align: center;
  margin-top: 16px;
}

.countryWrapper select {
  width: 40%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}